.body {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body main {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.body main form {
    width: 100%;
}

.body main form .titulo {
    display: block;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px;
}

.body main form .msg {
    width: 100%;
    display: none;
    font-family: Poppins, sans-serif;
    font-size: 13px;
    color: red;
    padding: 20px;
    padding-left: 0;
}

.body main form input {
    font-family: Poppins, sans-serif;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    border: none;
    border-bottom: 2px solid #adadad;
    background: transparent;
    padding: 0 5px;
    margin-bottom: 30px;
}

.body main form button {
    font-family: Poppins, sans-serif;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    z-index: -1;
    background:  linear-gradient(to right, #a64bf4, #21d4fd);
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.body main form button:hover {
    background:  #a64bf4;
}