main .form-group > table {
    width: 600px;
    background-color: #f2f2f2;
}

main .form-group > table > thead {
    background-color: #3c8dbc;
    color: #fff;
}

main .form-group table > thead > th {
    border-top: none;
    color: #fff;
}

main .form-group table > tbody > tr > td form label {
    width: 100%;
    margin-top: 20px;
}

main .form-group table > tbody > tr > td form > select,
main .form-group table > tbody > tr > td form > select option {
    text-transform: uppercase;
}

main .form-group table > tbody > tr > td form fieldset {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 0 30px 30px 30px;
}

main .form-group table > tbody > tr > td form fieldset legend {
    font-size: 12px;
    width: auto;
    margin-bottom: 0;
}

main .form-group table > tbody > tr > td form > fieldset > .form-group > input {
    float: left;
    margin-right: 10px;
}

main .form-group table > tbody > tr > td form .mensagem {
    width: 100%;
    float: left;
    font-size: 12px;
    font-family: sans-serif;
    color: darkred;
    padding: 5px;
    display: none;
}