.tabela {
    width: 100%;
    float: left;
    background-color: #f2f2f2;
}

.tabela .titulo {
    width: 100%;
    float: left;
    background-color: #3c8dbc;
    color: #fff;
    padding: 10px;
    font-weight: bold;
}

.tabela fieldset {
    width: calc(100% - 30px);
    float: left;
    margin: 15px;
    padding: 15px;
    border: 1px solid #c6c6c6;
}

.tabela fieldset legend {
    font-size: 16px;
    color: #4e555b;
    font-weight: bold;
    margin: 0;
    width: auto;
}

.tabela fieldset .opcoes {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
}

.tabela fieldset .opcoes .item {
    display: flex;
    align-items: center;
}

.tabela fieldset .opcoes .item p {
    margin: 0;
    margin-right: 10px;
}

.tabela fieldset .resultados {
    width: 100%;
    float: left;
}

.tabela .legenda{
    width: 100%;
    float: left;
    padding: 15px 20px;
}

.tabela .legenda .item{
    margin-right: 20px;
    float: left;
    display: flex;
    align-items: center;
}

.tabela .legenda .item i {
    width: 15px;
    height: 15px;
    float: left;
    border-radius: 50%;
    border: 2px solid #c6c6c6;
}

.tabela .legenda .item .andamento {
    border: none;
    background-color: #ffcd00;
}

.tabela .legenda .item .atrasado {
    border: none;
    background-color: #ff001c;
}

.tabela .legenda .item .concluido {
    border: none;
    background-color: #00b512;
}

.tabela .legenda .item p{
    float: left;
    font-size: 14px;
    margin: 0;
    padding-left: 5px;
}

.tabela .resultados table {
    background: #fff;
}

.tabela .resultados table tr td:first-child {
    width: 100%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
}

.table-bordered td:first-child {
    border: none;
}

.tabela .resultados table tr td:last-child i {
    cursor: pointer;
    padding: 5px;
}

.tabela .resultados table tr td:last-child i:hover {
    color: red;
}

.tabela .resultados table tr td:first-child i {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #c6c6c6;
}

.tabela .resultados table tr td:first-child .andamento {
    border: none;
    background-color: #ffcd00;
}

.tabela .resultados table tr td:first-child .atrasado {
    border: none;
    background-color: #ff001c;
}

.tabela .resultados table tr td:first-child .concluido {
    border: none;
    background-color: #00b512;
}

.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

.popup .container {
    width: 500px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    padding: 0;
    overflow: hidden;
}

.popup .container .top {
    width: 100%;
    padding: 5px;
    float: left;
    background-color: #3c8dbc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup .container .top i {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.popup .container .top i:hover {
    color: #ff6661;
}

.popup .container .top .titulo {
    color: #fff;
    font-weight: bold;
    padding-left: 20px;
}

.popup .container .conteudo {
    width: 100%;
    float: left;
    overflow: auto;
    padding: 10px;
}

.popup .container .conteudo fieldset {
    width: 100%;
    float: left;
    padding: 10px;
    border: 1px solid #c6c6c6;
}

.popup .container .conteudo fieldset legend {
    width: auto;
    font-size: 12px;
    color: #b9b9b9;
    padding: 4px;
}

.popup .container .conteudo fieldset .dados {
    width: 100%;
    float: left;
}

.popup .container .conteudo fieldset .dados .item {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    font-size: 14px;
}

.popup .container .conteudo select {
    width: 50%;
    float: left;
    margin-top: 20px;
    margin-left: 15%;
}

.popup .container .conteudo button {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}