main .form-group > table{
    width: 600px;
    background-color: #f2f2f2;
}

main .form-group > table > thead{
    background-color: #3c8dbc;
    color: #fff;
}

main .form-group table > thead > th {
    border-top: none;
    color: #fff;
}

main .form-group table > tbody > tr > td label{
    width: 100%;
    margin-top: 20px;
}

main .form-group table > tbody > tr > td > select,
main .form-group table > tbody > tr > td > select option{
    text-transform: uppercase;
}

main .form-group table > tbody > tr > td fieldset{
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding:  0 30px 30px 30px;
}

main .form-group table > tbody > tr > td fieldset legend{
    font-size: 12px;
    width: auto;
    margin-bottom: 0;
}

main .form-group table > tbody > tr > td > fieldset > .form-group > input{
    float: left;
    margin-right: 10px;
}