main .form-group > table{
    width: 500px;
    background-color: #f2f2f2;
}

main .form-group > table > thead{
    background-color: #3c8dbc;
    color: #fff;
}

main .form-group table > thead > th {
    border-top: none;
    color: #fff;
}

main .form-group table > tbody > tr > td input[type=text],
main .form-group table > tbody > tr > td input[type=password]{
    float: left;
}


main .form-group table > tbody > tr > td label{
    width: 100%;
    float: left;
    margin-top: 20px;
}

main .form-group table > tbody > tr > td span{
    width: 100%;
    color: red;
    font-size: 12px;
    float: left;
    text-align: right;
    display: none;
    margin-top: 5px;
}